#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.byUser {
	background-color: pink;
	height: 100px;
	width: 100px;
	border: 1px solid grey;
}

.firstClass {
	background-Color: blue;
	width: 100px;
	height: 100px;
}

.secondClass {
	border-radius: 2px solid blue;
}

.barra-progresso {
	height: 30px;
	width: 500px;
	border: 2px solid black;
}

.progresso {
	background-color: red;
	height: 100%;
}